<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <div class="navbar-brand d-flex align-items-center">
      <h1>WordNest</h1>
    </div> 
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/synonyms" routerLinkActive="active" ariaCurrentWhenActive="page">Synonyms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rhymes" routerLinkActive="active" ariaCurrentWhenActive="page">Rhymes</a>
        </li>
        <!-- Different content based on authentication status -->
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <span class="nav-link">Logged In</span>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button class="nav-link btn btn-link" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>